@model List<SugarM.Models.Override>
@{
    ViewData["Title"] = "Override";
    ViewData["CurrentPage"]= "menu2";
}


<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                        @ViewData["Title"]
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        &nbsp;
                        <a asp-action="Create" data-controller="Override" data-action="Create" class="btn btn-brand btn-elevate btn-icon-sm active">
                            <i class="la la-plus"></i>
                            New Record
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
                <table id="tableOverride" class="table table-striped table-bordered" style="width:100%;">
                     <thead>
                         <tr>
                             <th>ระดับผู้อนุมัติ</th>
                             <th>รายละเอียด</th>
                             <th>MinAmount</th>
                             <th>MaxAmount</th>
                             <th>การใช้งาน</th>
                             <th></th>
                         </tr>
                     </thead>
                     <tbody>
                         @foreach (var item in Model)
                         {
                             <tr>
                                 <td>@item.OverrideLevel</td>
                                 <td>@item.Description</td>
                                 <td>@item.MinAmount</td>
                                 <td>@item.MaxAmount</td>
                                 <td>@item.Active</td>
                                 <td style="width: 180px;">
                                      <a id="detailCarModal" asp-action="Edit" data-currentpage="" asp-route-OverrideLevel="@item.OverrideLevel" asp-route-CompCode="@item.CompCode" asp-route-CaneYear="@item.CaneYear" class="btn btn-primary btn-sm active">
                                            <i class="flaticon-folder-1" data-OverrideLevel="@item.OverrideLevel"></i> Deltail
                                        </a>
                                        <a id="deleteCarModal" asp-action="Delete" asp-route-id="@item.OverrideLevel"
                                           class="btn btn-danger btn-sm active delete"
                                           data-id="@item.CompCode"
                                           data-id1="@item.CaneYear"
                                           data-id2="@item.OverrideLevel"
                                           data-controller="Override"
                                           data-ta="#tableOverride"
                                           data-action="Delete"
                                           data-body-message="คุณต้องการลบข้อมูลข้อมูลประเภทโควต้า @item.CompCode ใช่หรือไม่?">
                                            <i class="flaticon-delete-1" data-id="@item.CompCode"></i> Delete
                                        </a>

                                </td>
                             </tr>
                         }
                     </tbody>
                 </table>
              @* @await Html.PartialAsync("_Pagination", 10) *@
        </div>
    </div>
</div>

@section Scripts{
    <script>
    $(document).ready(function() {
    var table = $("#tableOverride").DataTable({
        bDestroy: true, //ทำลายอันเก่าทิ้งแล้วรอคำสั่ง reload
		paging: true, //showpaging
		lengthChange: false,
		searching: true,
		ordering: true,
		info: true,
		autoWidth: false,
        order: [[1, "asc"]],
		language: {
			emptyTable: "No data found, Please click on <b>Add New</b> Button",
			sSearch: "ค้นหา",
			sLengthMenu: "แสดงข้อมูลทีละ _MENU_ ข้อมูล",
			sInfo: "ข้อมูล _START_ ถึง _END_ จากทั้งหมด _TOTAL_ ข้อมูล",
			oPaginate: {
				sFirst: "หน้าแรก",
				sPrevious: "ก่อนหน้า",
				sNext: "ถัดไป",
				sLast: "หน้าสุดท้าย"
			}
	    }
     });

     $("#tableGrade").on("click", "#deleteCarModal", function(e) {
         $(".overlay").removeClass("hidden");
        $(".fa-refresh").removeClass("hidden");
     });
    });
    </script>
}