@model CarTypeMinor
@{
    ViewData["Title"] = "CarMinor";
    ViewData["CurrentPage"]= "menu2";
}


<div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    ชนิด
                </h3>
            </div>
        </div>

        <!--begin::Form-->
        <form asp-controller="CarTypeMinor" asp-action="SaveCarMinor" class="kt-form kt-form--label-right">
                <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode">
                <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode" class="hidden">
                <input id="DeleteFlag" style="display: none;" name="DeleteFlag" value="N" class="hidden">
            <div class="kt-portlet__body">
                <div class="form-group row menu">
                    <div class="col-lg-4">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="">
                                <button class="dropdown-item" id="CarTypeDetail" href="#" type="button">เพิ่มประเภทย่อย</button>
                                <button class="dropdown-item" id="CarBrandAdd" href="#" type="button">เพิ่มยี่ห้อ</button>
                                <button class="dropdown-item" id="AddCarTypeMinor" href="#" type="button">เพิ่มชนิด</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label>รหัสบริษัท:</label>
                        <input type="text" asp-for="CompCode" readonly="true" class="form-control" placeholder="Enter CompCode">
                        <span asp-validation-for="CompCode" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" asp-for="TypeCode" style="display: none;" readonly="true" placeholder="Enter TypeCode">
                        <label for="Fullname" class="">ประเภทรถ:</label>
                        <input type="text" asp-for="SubTypeCode" style="display: none;" class="form-control" placeholder="Enter SubTypeCode">
                        <input type="text" asp-for="SubFullname" readonly="true" class="form-control" placeholder="Enter SubFullname">
                        <span asp-validation-for="SubFullname" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label>ประเภทรถย่อย:</label>
                        <input type="text" style="display: none;" asp-for="TypeCode" class="form-control" placeholder="Enter TypeCode">
                        <input type="text" asp-for="TypeFullname" readonly="true" class="form-control" placeholder="Enter TypeFullname">
                        <span asp-validation-for="TypeFullname" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label>ชนิดของรถ:</label>
                        <input type="text" asp-for="MinorTypeCode" class="form-control" placeholder="Enter MinorTypeCode">
                        <span asp-validation-for="MinorTypeCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label for="Description" class="">ชนิดรถ:</label>
                        <input type="text" asp-for="Description" class="form-control" placeholder="Enter Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label for="WeightIn" class="">น.น ชั่งเข้า:</label>
                        <input type="text" asp-for="WeightIn" class="form-control" placeholder="Enter WeightIn">
                        <span asp-validation-for="WeightIn" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label for="WeightOut" class="">น.น ชั่งออก:</label>
                        <label for="WeightOut" class="">ตัน:</label>
                        <input type="text" asp-for="WeightOut" class="form-control" placeholder="Enter WeightOut">
                        <span asp-validation-for="WeightOut" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label for="TotalFuel" class="">ปริมานน้ำมัน:</label>
                        <label for="TotalFuel" class="">ลิตร:</label>
                        <input type="text" asp-for="TotalFuel" class="form-control" placeholder="Enter TotalFuel">
                        <span asp-validation-for="TotalFuel" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label class="">การใช้งาน:</label>
                        <div class="input-group flex-nowrap">
                            <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>
                                </div>
                                <select class="form-control kt-select2" asp-for="Active">
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-7">
                        @if(Model.CarTypeMinorlist == null || Model.CarTypeMinorlist.Count == 0){

                         }else{
                        <table id="tablecardetaill" class="table table-striped table-bordered" style="width:100%;">
                            <thead>
                            <tr>
                                <th>ประเภท</th>
                                <th>ประเภทย่อย</th>
                                <th>รหัส</th>
                                <th>ชนิด</th>
                                <th>น.น ชั่งเข้า</th>
                                <th>น.น ชั่งออก</th>
                                <th>ประมานน้ำมัน</th>
                                <th>การใช้งาน</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                    @foreach (var item in Model.CarTypeMinorlist)
                            {
                                <tr>
                                    <td>@item.CarTypeDesc</td>
                                    <td>@item.CarTypeDetailDesc</td>
                                    <td>@item.MinorTypeCode</td>
                                    <td>@item.Description</td>
                                    <td>@item.WeightIn</td>
                                    <td>@item.WeightOut</td>
                                    <td>@item.TotalFuel</td>
                                    <td>@item.Active</td>
                                    <td style="text-align: center;">
                                        <a id="detailCarModal" asp-action="EditDetaill" asp-route-id="@item.CompCode" asp-route-TypeId="@item.TypeCode" asp-route-SubId="@item.SubTypeCode" asp-route-MinorId="@item.MinorTypeCode" class="btn btn-success btn-sm">
                                            <i class="fa fa-folder-open-o" data-id="@item.CompCode"></i> รายละเอียด
                                        </a>
                                        <a id="deleteCarModal" asp-action="Delete" asp-route-id="@item.CompCode"
                                           class="btn btn-danger btn-sm delete"
                                           data-id="@item.CompCode"
                                           data-id1="@item.TypeCode"
                                           data-id2="@item.SubTypeCode"
                                           data-id3="@item.MinorTypeCode"
                                           data-controller="CarTypeMinor"
                                           data-action="Delete"
                                           data-body-message="คุณต้องการลบข้อมูลข้อมูลประเภทโควต้า @item.SubTypeCode ใช่หรือไม่?">
                                            <i class="fa fa-pencil" data-id="@item.SubTypeCode"></i> ลบข้อมูล
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                            </table>
                         }

                     </div>
                </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-lg-4">
                            <button type="button" asp-action="Index" class="btn btn-dark back-step">Back</button>
                            <button type="submit" id="Savesubmit" value="CreatebankbranchNew" class="btn btn-brand">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            var oTable = $('#tablecardetaill').DataTable();
            dataTablebk = $("#tablecardetaill").DataTable({
                bDestroy: true, //ทำลายอันเก่าทิ้งแล้วรอคำสั่ง reload
                paging: true, //showpaging
                lengthChange: false,
                searching: false,
                ordering: true,
                info: true,
                autoWidth: false,
                order: [[1, "asc"]],
                language: {
                    emptyTable: "No data found, Please click on <b>Add New</b> Button",
                    sSearch: "ค้นหา",
                    sLengthMenu: "แสดงข้อมูลทีละ _MENU_ ข้อมูล",
                    sInfo: "ข้อมูล _START_ ถึง _END_ จากทั้งหมด _TOTAL_ ข้อมูล",
                    oPaginate: {
                        sFirst: "หน้าแรก",
                        sPrevious: "ก่อนหน้า",
                        sNext: "ถัดไป",
                        sLast: "หน้าสุดท้าย"
                    }
                }
            });
            $(".select2").select2();
            $(".back-step").on("click",()=>{
                window.location.href = "/CarType/Index";
            });
            $("#CarTypeMinorAdd").on("click",()=>{
                var C = $("#CompCode").val();
                var T = $("#TypeCode").val();
                var S = $("#SubTypeCode").val();
                window.location.href = "/CarTypeMinor/CreateCarMinor?Id="+ C +" &TypeId="+ T +" &SubTypeId="+ S +"";
                debugger;
            });
            $("#CarTypeDetail").on("click",()=>{
                var C = $("#CompCode").val();
                var T = $("#TypeCode").val();
                window.location.href = "/CarTypeDetail/CreateDetaill?Id="+ C +" &TypeId="+ T +"";
                debugger;
            });
            $("#tablecardetaill").on("click", "#deleteCarModal", function(e) {
                $(".overlay").removeClass("hidden");
                $(".fa-refresh").removeClass("hidden");
            });
        });
    </script>
}
