@model SaleAuthViewmodel
@{
    ViewData["Title"] = "Sale";
    ViewData["CurrentPage"]= "menu2";
}



                               <div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													กำหนด Sale Authorize
												</h3>
											</div>
										</div>

										<!--begin::Form-->
										<form asp-controller="SaleAuth" asp-action="Create" method="post" class="kt-form kt-form--label-right">
                                              <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode">
											<div class="kt-portlet__body">
												<div class="form-group row">
													<div class="col-lg-3">
														<label>รหัสบริษัท:</label>
														<input type="text" asp-for="CompCode" class="form-control" placeholder="Enter CompCode">
														<span asp-validation-for="CompCode" class="text-danger"></span>
													</div>
													<div class="col-lg-3">
														<label>ตำแหน่ง:</label>
														<input type="text" asp-for="Position" class="form-control" placeholder="Enter Position">
													</div>
												</div>
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <label>เขต:</label>
                                                        <div class="input-group flex-nowrap">
                                                            <div class="input-group-append">
                                                                  <span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>
                                                              </div>
                                                          <select class="form-control kt-select2" asp-for="RegionCode" asp-items="@(new SelectList(ViewBag.branch,"RegionCode","RegCodeAndName"))">
                                                              <option> </option>
                                                              </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>รหัสนักเกษตร:</label>
                                                        <div class="input-group flex-nowrap">
                                                            <div class="input-group-append">
                                                                  <span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>
                                                              </div>
                                                          <select class="form-control kt-select2" asp-for="SaleId" asp-items="@(new SelectList(ViewBag.sale,"SaleId","SaleFullname"))">
                                                              <option> </option>
                                                              </select>
                                                        </div>
                                                    </div>
												</div>
                                                <div class="form-group row">
                                                    @if(Model.Salelist == null){

                                                    }else{
                                                    <table class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th>รหัสนักเกษตร</th>
                                                            <th>รหัสเขต</th>
                                                            <th>ตำแหน่ง</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                                @foreach (var item in Model.Salelist)
                                                        {
                                                            <tr>
                                                                <td>@item.SaleId</td>
                                                                <td>@item.RegionCode</td>
                                                                <td>@item.Position</td>
                                                                <td>
                                                                    <a id="detailCarModal" asp-action="EditMutiple" asp-route-id="@item.CompCode" asp-route-SaleId="@item.SaleId" asp-route-RegId="@item.RegionCode" class="btn btn-primary btn-sm active">
                                                                            <i class="flaticon-folder-1" data-id="@item.CompCode"></i> Detail
                                                                        </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                        </tbody>
                                                        </table>
                                                    }
                                                </div>
											<div class="kt-portlet__foot">
												<div class="kt-form__actions">
													<div class="row">
														<div class="col-lg-4">
                                                            <button type="button" asp-action="Index" class="btn btn-dark back-step">Back</button>
                                                            <button type="submit" id="Savesubmit" class="btn btn-brand">Save</button>
                                                        </div>
													</div>
												</div>
											</div>

										</form>

										<!--end::Form-->
									</div>
                            </div>

@section Scripts{
<script>
    $(document).ready(function() {
	$(".select2").select2();
	$(".back-step").on("click", () => {
		window.location.href = "/SaleAuth/Index";
	});
});

</script>

}
