@model CarBrand
@{
    ViewData["Title"] = "CarBrand";
    ViewData["CurrentPage"]= "menu2";
}


<div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    ยี่ห้อ
                </h3>
            </div>
        </div>

        <!--begin::Form-->
        <form asp-controller="CarBrand" asp-action="SaveCarBrand" class="kt-form kt-form--label-right">
                <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode">
                <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode" class="hidden">
                <input id="DeleteFlag" style="display: none;" name="DeleteFlag" value="N" class="hidden">
            <div class="kt-portlet__body">
                <div class="form-group row menu">
                    <div class="col-lg-4">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="">
                                <button class="dropdown-item" id="CarTypeDetail" href="#" type="button">เพิ่มประเภทย่อย</button>
                                <button class="dropdown-item" id="CarBrandAdd" href="#" type="button">เพิ่มยี่ห้อ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label>รหัสบริษัท:</label>
                        <input type="text" asp-for="CompCode" readonly="true" class="form-control" placeholder="Enter CompCode">
                        <span asp-validation-for="CompCode" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" asp-for="TypeCode" style="display: none;" readonly="true" placeholder="Enter TypeCode">
                        <label for="Fullname" class="">ประเภทรถ:</label>
                        <input type="text" asp-for="TypeCode" style="display: none;" class="form-control" placeholder="Enter TypeCode">
                        <input type="text" asp-for="TypeFullname" readonly="true" class="form-control" placeholder="Enter TypeFullname">
                        <span asp-validation-for="TypeFullname" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label>รหัส:</label>
                        <input type="text" asp-for="BrandCode" class="form-control" placeholder="Enter BrandCode">
                        <span asp-validation-for="BrandCode" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label>ห้อรถ:</label>
                        <input type="text" asp-for="BrandName" class="form-control" placeholder="Enter BrandName">
                        <span asp-validation-for="BrandName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label class="">การใช้งาน:</label>
                        <div class="input-group flex-nowrap">
                            <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>
                                </div>
                                <select class="form-control kt-select2" asp-for="Active">
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-7">
                        @if(Model.CarBranList == null || Model.CarBranList.Count == 0){

                         }else{
                        <table id="tablecarBrand" class="table table-striped table-bordered" style="width:100%;">
                            <thead>
                            <tr>
                                <th>รหัส</th>
                                <th>ยี่ห้อ</th>
                                <th>การใช้งาน</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                    @foreach (var item in Model.CarBranList)
                            {
                                <tr>
                                    <td>@item.BrandCode</td>
                                    <td>@item.BrandName</td>
                                    <td>@item.Active</td>
                                    <td style="text-align: center; width: 180px;">
                                        <a id="detailCarModal" asp-action="EditDetaill" asp-route-id="@item.CompCode" asp-route-TypeId="@item.TypeCode" asp-route-BrandCode="@item.BrandCode" class="btn btn-primary btn-sm active">
                                            <i class="flaticon-folder-1" data-id="@item.CompCode"></i> Detail
                                        </a>
                                        <a id="deleteCarModal" asp-action="Delete" asp-route-id="@item.CompCode"
                                           class="btn btn-danger btn-sm active delete"
                                           data-id="@item.CompCode"
                                           data-id1="@item.TypeCode"
                                           data-id2="@item.BrandCode"
                                           data-controller="CarBrand"
                                           data-action="Delete"
                                           data-body-message="คุณต้องการลบข้อมูลข้อมูลประเภทโควต้า @item.BrandCode ใช่หรือไม่?">
                                            <i class="flaticon-delete-1" data-id="@item.BrandCode"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                            </table>
                         }

                     </div>
                </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-lg-4">
                            <button type="button" asp-action="Index" class="btn btn-dark back-step">Back</button>
                            <button type="submit" id="Savesubmit" value="CreatebankbranchNew" class="btn btn-brand">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function() {
            var oTable = $('#tablecarBrand').DataTable();
            dataTablebk = $("#tablecarBrand").DataTable({
                bDestroy: true, //ทำลายอันเก่าทิ้งแล้วรอคำสั่ง reload
                paging: true, //showpaging
                lengthChange: false,
                searching: false,
                ordering: true,
                info: true,
                autoWidth: false,
                order: [[1, "asc"]],
                language: {
                    emptyTable: "No data found, Please click on <b>Add New</b> Button",
                    sSearch: "ค้นหา",
                    sLengthMenu: "แสดงข้อมูลทีละ _MENU_ ข้อมูล",
                    sInfo: "ข้อมูล _START_ ถึง _END_ จากทั้งหมด _TOTAL_ ข้อมูล",
                    oPaginate: {
                        sFirst: "หน้าแรก",
                        sPrevious: "ก่อนหน้า",
                        sNext: "ถัดไป",
                        sLast: "หน้าสุดท้าย"
                    }
                }
            });
            $(".select2").select2();
            $(".back-step").on("click",()=>{
                window.location.href = "/CarType/Index";
            });
            $("#CarBrandAdd").on("click",()=>{
                var C = $("#CompCode").val();
                var T = $("#TypeCode").val();
                window.location.href = "/CarBrand/CreateCarBrand?Id="+ C +" &TypeId="+ T +"";
                debugger;
            });
            $("#CarTypeDetail").on("click",()=>{
                var C = $("#CompCode").val();
                var T = $("#TypeCode").val();
                window.location.href = "/CarTypeDetail/CreateDetaill?Id="+ C +" &TypeId="+ T +"";
                debugger;
            });
            $("#tablecarBrand").on("click", "#deleteCarModal", function(e) {
                $(".overlay").removeClass("hidden");
                $(".fa-refresh").removeClass("hidden");
            });
        });
    </script>
}
